<style type="text/css"> 

body{
			color: rgb(25,68,90);
         margin: 0;
         padding: 0;
		}

   a {
      color:rgb(0, 26, 255);
   }


.form-control {
    border: none;
    border-bottom: 1px solid;
    color: rgb(25,68,90);
    border-color: rgb(25,68,90);
    font-size: 0.8rem;
    
}
.form-control2 {
    border: none;
    border-bottom: 1px solid;
    margin-left: 31%;
    color: rgb(25,68,90);
    border-color: rgb(25,68,90);
    
}
{{!-- .form-control1 {
    border: none;
    border-bottom: 1px solid;

    color: rgb(25,68,90);
    border-color: rgb(25,68,90);
} --}}

h3 {
color: rgb(25,68,90);
margin: 18px;
font-size: 17px;
text-align: center;
text-transform: uppercase;

}

p {
   text-align: center;
   width: 77%;
   margin:auto;
   font-size: 0.9rem;
}
.p-footer {
   text-align: center;
   width: 80%;
   margin:auto;
   font-size: 0.9rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 77%;
   padding-left: 100px;
}

.row-p {
  display: flex;
  flex-wrap: wrap;
  width: 77%;
   padding-left: 102px;
   font-size: 0.8rem;
   padding-bottom: 3px;
}

.row-p1 {
  display: flex;
  flex-wrap: wrap;
  width: 76%;
   padding-left: 100px;
   font-size: 0.8rem;
   {{!-- padding-bottom: 3px; --}}
}



label {
   font-size: 0.8rem;
   padding-left: 0.2rem;
}

.input-date {
margin-top: 20px;
margin-bottom: 4px;

}
.col-form-label1 {
   width: 77%;
   padding-left: 100px;
}

.col-form-label2 {
   padding-left: 501px;

}
.col-form-label4 {
   padding-right: 0.4rem;

}
.col-form-label5 {

padding-left: 36%;
} 
.div-img {
{{!-- background: gray; --}}
width: 100%;
}

img {
   width: 88%;
   height: auto;
   margin: auto;
   display: block;
   padding-left: 23px;
   padding-right: 13px;
   padding-top: 13px;
}


    
</style>

<script type="text/javascript">
window.onload = function(){
  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth()+1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  if(dia<10)
    dia='0'+dia; //agrega cero si el menor de 10
  if(mes<10)
    mes='0'+mes //agrega cero si el menor de 10
  document.getElementById('fechaActual').value=ano+"-"+mes+"-"+dia;
}
</script>
<div class="div-img">

<img class="img" src="http://img.fenixzone.net/i/TkCqP89.jpeg" alt="logo-registro-coopgeneratio" border="0">

</div>

               <label class="col-sm-0 col-form-label2">FECHA:</label>
              <input class="form-control input-date" type="date" name="" id="fechaActual" value="" required="">
            

<div class="">

   
        <h3>SOLICITUD DE INGRESO COMO SOCIO A LA COOPERATIVA</h3>
            <div class="row-p">

             Por este medio solicito al Consejo de Administración ser admitido como socio de la Cooperativa de
             Ahorro, Crédito y Servicios Múltiples GENERATIO NOVA “COOPGENERATIO”, para lo cual
             me comprometo a cumplir con las disposiciones vigentes de los Estatutos y la Ley 127 sobre
             asociaciones cooperativas y sus reglamentos.

            </div>
          <br>
  
</div>
         <div class="row">

           <label class="col-sm-12 col-form-label4">Nombres y Apellidos:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="60" value="{{nombre}} {{apellido}}" required="">

         </div>
            <div class="row">

           <label class="col-sm-12 col-form-label4">Cédula:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="38" value="{{cedula}}" required="">

           <label class="col-sm-12 col-form-label4">Estado Civil:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="20" value="{{estadocivil}}" required="">
            </div>
            
              <div class="row">

              <label class="col-sm-12 col-form-label4">Dirección Residencial:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="60" value="{{direccionresidencial}}" required="">
              </div>
              <div class="row">
              <label class="col-sm-12 col-form-label4">Provincia:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="33" value="{{provincia}}" required="">

              <label class="col-sm-12 col-form-label4">Telefonos:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="24" value="{{telefonos}}" required="">

              </div>
              <div class="row">

              <label class="col-sm-12 col-form-label4">Celular:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="31" value="{{celular}}" required="">

              <label class="col-sm-12 col-form-label4">Oficina de trabajo:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="22" value="{{oficinatrabajo}}" required="">

              </div>
              <div class="row">

                 <label class="col-sm-12 col-form-label4">Telefono:</label>
                 <input class="form-control" type="text" name="nombre" id="nombre" size="18" value="{{telefonotrabajo}}" required="">

                 <label class="col-sm-12 col-form-label4">Fax:</label>
                 <input class="form-control" type="text" name="nombre" id="nombre" size="15" value="{{fax}}" required="">

                 <label class="col-sm-12 col-form-label4">Puesto:</label>
                 <input class="form-control" type="text" name="nombre" id="nombre" size="18" value="{{puesto}}" required="">
              </div>

              <div class="row">

                  <label class="col-sm-12 col-form-label4">Fecha de Ingreso Empresa:</label>
              <input class="form-control" type="text" name="nombre" id="nombre" size="22" value="{{fechaingresoempresa}}" required="">

               <label class="col-sm-12 col-form-label4">Sueldo:</label>
                 <input class="form-control" type="text" name="nombre" id="nombre" size="23" value="{{sueldo}}" required="">
                 
              </div>
              <div class="row">

                 <label class="col-sm-12 col-form-label4">Dirección electrónica:</label>
                 <input class="form-control" type="text" name="nombre" id="nombre" size="60" value="{{direccionresidencial}}" required="">

              </div>
              <br>

            <div class="row-p1">

            &nbsp;De ser admitido me comprometo a cumplir con los requisitos tales como: Ahorro Mensual de 
            </div>
            <div class="row">

              <label class="col-sm-12 col-form-label4">RD$:</label>   
            <input class="form-control" type="text" name="nombre" id="nombre" size="73" value="{{ahorromensual}}" required="">   

            </div>

            <div class="row">

               <label class="col-sm-12 col-form-label4">Número de certificados de aportación:</label>   
               <input class="form-control" type="text" name="nombre" id="nombre" size="46" value="{{certificadoaportacion}}" required=""> 

            </div>
            <div class="row">

               <label class="col-sm-12 col-form-label4">Certificado de aportación por un valor de RD$:</label>   
               <input class="form-control" type="text" name="nombre" id="nombre" size="36" value="{{valorcertificado}}" required=""> 
            </div>

               <br>

            <div class="row-p1">

           &nbsp;En &nbsp; caso &nbsp; de &nbsp; fallecimiento &nbsp; y &nbsp; otro &nbsp; problema &nbsp; de &nbsp; incapacidad &nbsp; entregar  &nbsp; mis &nbsp; ahorros &nbsp; a:

            </div>
            <div class="row">
               &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="45" value="{{nombre2}} {{apellido2}}" required=""> 

               <label class="col-sm-12 col-form-label4">Cédula:</label> 
               &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="25" value="{{cedula2}}" required=""> 
               
            </div>

            <br>
            <br>
               &nbsp;<input class="form-control2" type="text" name="nombre" id="nombre" size="35" value="" > 
            <div class="row">

               <label class="col-sm-12 col-form-label5">Firma del Solicitante:</label>

            </div>
            <br>
            <div class="row">
               &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="20" value="" > 
                <label class="col-sm-12 col-form-label4">Presidente:</label> 
               
            </div>
            <br>
            <div class="row">
               &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="20" value="" > 
                <label class="col-sm-12 col-form-label4">Vice Presidente:</label> 
               
            </div>
            <br>
            <div class="row">

                &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="20" value="" > 
                <label class="col-sm-12 col-form-label4">Secretario:</label> 
                              
            </div>
            <br>
            <div class="row">

               &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="20" value="" > 
                <label class="col-sm-12 col-form-label4">Tesorero:</label> 

            </div>
            <br>
            <div class="row">

                &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="20" value="" > 
                <label class="col-sm-12 col-form-label4">Vocal:</label> 
            </div>
            <br>
            <div class="row">

             &nbsp;OBSERVACIÓN:

            </div>
            <div class="row">
               &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="90" value="" > 
            </div>
               <div class="row">

               &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="90" value="" > 

               </div>
               <div class="row">

               &nbsp;<input class="form-control" type="text" name="nombre" id="nombre" size="90" value="" > 

               </div>

               <br>
               <br>

               <p class="p-footer">Calle Santo Tomas de Aquino, No.51, Edif. FEDORA LC.1-A, casi Esq. Santiago, Zona Universitaria, Santo Domingo,
                  Distrito Nacional, Tel: (809) 622-3897 | <a href="coopgeneratio1512@gmail.com">coopgeneratio1512@gmail.com</a></p>